/build/
/logs/
/xen.git/
/xen-*/
/linux.git/
/linux-*
/u-boot/
/devmem2/
/qemu.git/
/qemu-*/
/xen-vhost-frontend/
/vhost-device/
qemu-ram
net.pcap
queue-linux-user-d*
qemu-xen-vm?-ram
shm.pid
shm.sock
*.dtb
