# QEMU virtio-msg-ivshmem uses vfio to get to ivshmem
# as ivshmem does not do DMA, NOIMMU is safe 
# NOIOMMU is required on QEMU platform

CONFIG_VFIO_NOIOMMU=y

# turn on some extras also
CONFIG_VFIO_DEBUGFS=y
CONFIG_VFIO_PLATFORM_BASE=m
CONFIG_VFIO_PLATFORM=m
CONFIG_VFIO_AMBA=m
CONFIG_VFIO_PLATFORM_BCMFLEXRM_RESET=m
