CONFIG_VFIO_NOIOMMU=y
CONFIG_VFIO_DEBUGFS=y
CONFIG_VFIO_PLATFORM_BASE=m
CONFIG_VFIO_PLATFORM=m
CONFIG_VFIO_AMBA=m
CONFIG_VFIO_PLATFORM_BCMFLEXRM_RESET=m
CONFIG_VIRT_DRIVERS=y
CONFIG_VMGENID=y
CONFIG_SAMPLES=y
CONFIG_STRICT_DEVMEM=n
CONFIG_NET_9P_DEBUG=y
CONFIG_SCSI_VIRTIO=y
CONFIG_USB_RTL8152=y
CONFIG_I2C_ISCH=y
CONFIG_I2C_PIIX4=y
CONFIG_I2C_SCMI=y
CONFIG_I2C_VIRTIO=y
CONFIG_GPIO_VIRTIO=y
CONFIG_SENSORS_LM75=y
CONFIG_LPC_SCH=y
CONFIG_RTC_DRV_DS1307=y
CONFIG_VIRTIO_MSG=y
CONFIG_VIRTIO_MSG_MMIO=y
CONFIG_XEN_PRIVCMD_EVENTFD=y
CONFIG_XEN_GRANT_DMA_IOMMU=y
CONFIG_XEN_GRANT_DMA_OPS=y
CONFIG_XEN_VIRTIO=y
CONFIG_AL3320A=y
CONFIG_9P_FS_SECURITY=y
CONFIG_DRM_PANEL_SAMSUNG_ATNA33XC20=m
CONFIG_VIRTIO_MMIO=y
